<img src="../static/logo.png" alt="datio" style="width: 200px "align="right"/>

# Pandas

Lo primero que debemos hacer es importar la libreria de Pandas:

In [56]:
import pandas as pd

<div class="alert alert-info">Por convenio (de la comunidad de desarrolladores) se usa `pd` como alias de la librería Pandas.</div>

# Data Structures

## Series

El primer ejemplo que vamos a poner va a ser el de definir una estructura de datos "Series", un array de datos unidimensional con idexación. Las "Series" se definen de la siguiente manera:  

**serie = pd.Series(data, index)**

In [57]:
pd.Series?

In [58]:
a = pd.Series([30,40,50,60])
a

0    30
1    40
2    50
3    60
dtype: int64

Es decir, que en el primer parámetro le indicamos los datos del array y en el segundo parámetro los índices (en el caso de no indicar los índices de forma explícita, se generarán los índides de forma automático empezando desde el valor cero). Veamos un ejemplo de como crear una estructura "Series" con la alineación del Real Madrid, en el que tenemos como 'data' sus nombres y como índice su dorsal:

In [59]:
# From ndarray

names = ['Navas', 'Carvajal', 'Pepe', 'Ramos', 'Varane', 'Nacho', 'Marcelo', 'Coentrao', 'Danilo', 'Kroos', 'James',
     'Casemiro','Kovacic', 'Modric', 'Asensio', 'Isco','Ronaldo', 'Benzema', 'Bale', 'Lucas Vazquez', 'Mariano', 'Morata']
dorsales = [1, 2, 3, 4, 5, 6, 12, 15, 23, 8, 10, 14, 16, 19, 20, 22, 7, 9, 11, 17, 18, 21]

#>
realMadridPlayers = pd.Series(index = dorsales, data = names)

print("Plantilla del Real Madrid 2017: \n%s" %realMadridPlayers)

Plantilla del Real Madrid 2017:
1             Navas
2          Carvajal
3              Pepe
4             Ramos
5            Varane
6             Nacho
12          Marcelo
15         Coentrao
23           Danilo
8             Kroos
10            James
14         Casemiro
16          Kovacic
19           Modric
20          Asensio
22             Isco
7           Ronaldo
9           Benzema
11             Bale
17    Lucas Vazquez
18          Mariano
21           Morata
dtype: object

También podemos crearnos una estructura de datos "Series" a partir de una lista o de un diccionario. Si la construimos a partir de una lista nos pondrá los índices por defecto y si lo creamos a partir de un diccionario, pondrá como índices las claves. Vamos a ver a continuación un ejemplo de como crear una Serie a partir de un diccionario y además vamos a ver como insertar en esta serie un nuevo elemento:

In [60]:
# From dict

columnsDict = {1: 'IMP_FACTUZM', 2: 'IMP_FACTUZT', 3: 'IMP_FACTUZA', 4: 'IMP_OPERAM', 5:'IMP_OPERAT', 6: 'IMP_OPERAA'}

#>
prefixSerie = pd.Series(columnsDict)
prefixSerie

1    IMP_FACTUZM
2    IMP_FACTUZT
3    IMP_FACTUZA
4     IMP_OPERAM
5     IMP_OPERAT
6     IMP_OPERAA
dtype: object

Las Series se comportan como diccionarios, veamos como acceder a un elemento y como añadir un elemento:

In [61]:
# Insert new element: Set index 7 the value:'XTI_PRELSTD'

#>
prefixSerie[7] = 'XTI_PRELSTD'
prefixSerie

1    IMP_FACTUZM
2    IMP_FACTUZT
3    IMP_FACTUZA
4     IMP_OPERAM
5     IMP_OPERAT
6     IMP_OPERAA
7    XTI_PRELSTD
dtype: object

In [62]:
# Access to index with value i: Get the element with index 1

#>
prefixSerie[1]

'IMP_FACTUZM'

Nota: El índice puede ser de tipo String. Veamos un ejemplo:

In [63]:
codigoISO2 = pd.Series(['Afganistán','Åland, Islas','Albania','Alemania','Andorra','Angola','Anguila',
                        'Antártida','Antigua y Barbuda','Arabia Saudita','Argelia'],
                       index=['AF','AX','AL','DE','AD','AO','AI','AQ','AG','SA','DZ'])

In [64]:
# Access to index with value 'DE'

#>
codigoISO2['DE']

'Alemania'

Operaciones sobre series:
Las series alinean sus valores en base a su "label".
Una operación entre series no alineadas realizará la unión de los índices. Si una label no se encuentra en una Serie o la otra, el resultado será marcado como un NaN.

In [65]:
# Suma de dos series

a = pd.Series([1,2,3,4],[10,20,30,40])
b = pd.Series([4,6,5,2],[30,20,10,40])

#>
a + b

10    6
20    8
30    7
40    6
dtype: int64

## Dataframe

Un Dataframe es una estructura de datos similar a una tabla de una base de datos relacional, una tabla de excel, etc y como tal se pueden hacer muchas operaciones y como las que se harían con consultas a tablas de bases de datos o en excel.  
Para construir un DataFrame se puede hacer de diferentes formas, como por ejemplo a partir de una lista, de un diccionario, de una Serie, de otro DataFrame, leyendo una tabla excel, csv, etc.  
Nota: también se pueden añadir índices al dataframe, un índice es como una primary key sobre una tabla sql, con la excepción de que un índice puede tener valores duplicados.
Las Dataframes se definen de la siguiente manera:  

**df = pd.DataFrame(data, index, columns)**

In [66]:
pd.DataFrame?

In [67]:
# From dictionary:

data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}

#>
frame = pd.DataFrame(data)
frame

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002

In [68]:
# From matrix and columns :

columnsDF = ['cod_ofictrn','imp_trans','cod_user','cod_npuesto','cod_persona']
list_listas = [[1557,5000,'U044181','02',5133579],[2585,13000,'E018157','03',23783944],[2626,19000,'UA16687','01',12024444]]

#>
DF_1 = pd.DataFrame(list_listas,
                  columns = columnsDF)
DF_1

   cod_ofictrn  imp_trans cod_user cod_npuesto  cod_persona
0         1557       5000  U044181          02      5133579
1         2585      13000  E018157          03     23783944
2         2626      19000  UA16687          01     12024444

In [69]:
# From matrix, columns and index:

indexDF = ['A','A','C']

#>
DF_2 = pd.DataFrame(list_listas,
                    index = indexDF,
                  columns = columnsDF)
DF_2

   cod_ofictrn  imp_trans cod_user cod_npuesto  cod_persona
A         1557       5000  U044181          02      5133579
A         2585      13000  E018157          03     23783944
C         2626      19000  UA16687          01     12024444

In [70]:
# Get a specific column, it is a Series:


DF_2["cod_ofictrn"]
DF_2.cod_ofictrn # This way can confuse with dataframe methods

A    1557
A    2585
C    2626
Name: cod_ofictrn, dtype: int64

In [71]:
# Get a list of columns:

#>
DF_2[["cod_user","cod_ofictrn"]]

  cod_user  cod_ofictrn
A  U044181         1557
A  E018157         2585
C  UA16687         2626

In [72]:
# Create a new column from two: Concatenate column "cod_npuesto" and "cod_user"

#>
DF_2["new_column"] = DF_2["cod_npuesto"] + "-" + DF_2["cod_user"]
DF_2

   cod_ofictrn  imp_trans cod_user cod_npuesto  cod_persona  new_column
A         1557       5000  U044181          02      5133579  02-U044181
A         2585      13000  E018157          03     23783944  03-E018157
C         2626      19000  UA16687          01     12024444  01-UA16687

In [40]:
# Remove a column:

#>
DF_2.drop("cod_user", axis = 1, inplace = True)
DF_2

   cod_ofictrn  imp_trans cod_user cod_npuesto  cod_persona  new_column
A         1557       5000  U044181          02      5133579  02-U044181
A         2585      13000  E018157          03     23783944  03-E018157
C         2626      19000  UA16687          01     12024444  01-UA16687

Usaremos el método **loc** para acceder por índice, o bien **ix**:

In [221]:
DF_2.loc?

In [45]:
# Access to value with index 1:

#>
DF_2.loc['A']

# or 

#>

DF_2.ix['A']

   cod_ofictrn  imp_trans cod_user cod_npuesto  cod_persona  new_column
A         1557       5000  U044181          02      5133579  02-U044181
A         2585      13000  E018157          03     23783944  03-E018157

Si queremos acceder por el elemento en la posición i usaremos **iloc**, tambień **ix** únicamente si el índice no es de tipo entero.

In [46]:
# Access to the second element:

#>
DF_2.iloc[1]

# or 

#>
DF_2.ix[1]

cod_ofictrn          2585
imp_trans           13000
cod_user          E018157
cod_npuesto            03
cod_persona      23783944
new_column     03-E018157
Name: A, dtype: object

Nota: Ver las diferencias de: loc, iloc e ix  en : "Indexing and Selecting data": http://pandas.pydata.org/pandas-docs/stable/indexing.html

También es posible crear un DataFrame a partir de listas "mergeadas". De tal forma cada lista se convertiŕa en una columna del DataFrame. Para mergear listas usaremos la función **zip**:

In [73]:
cod_ofictrnList = [1557,2585,2626]
imp_transList = [5000,13000,19000]
cod_userList = ['U044181','E018157','UA16687']

In [74]:
zip?

In [75]:
# Create dataset as result to merge: cod_ofictrnList, imp_transList and cod_userList. 

#>
dataset = list(zip(cod_ofictrnList,imp_transList,cod_userList))
dataset

[(1557, 5000, 'U044181'), (2585, 13000, 'E018157'), (2626, 19000, 'UA16687')]

In [76]:
# Create a dataframe with dataset before and columns: 'cod_ofictrn','imp_trans','cod_user':

#>
DF_3 = pd.DataFrame(data = dataset, columns =  ['cod_ofictrn','imp_trans','cod_user'])
DF_3

   cod_ofictrn  imp_trans cod_user
0         1557       5000  U044181
1         2585      13000  E018157
2         2626      19000  UA16687

Para exportar el dataframe a un fichero csv, usaremos **to_csv**

In [77]:
DF_1.to_csv?

In [78]:
# Export a dataframe in folder "data"

#>
filename = '../data/my_csv.csv'
DF_1.to_csv(filename,index=False,header=True)

Borramos el fichero creado, para borrar usaremos **remove**:

In [79]:
#!/usr/bin/python
import os

## delete only if file exists ##
if os.path.exists(filename):
    #>
    os.remove(filename)
else:
    print("Sorry, I can not remove %s file." % filename)

## Entrada de datos

La API de pandas I/O es un conjunto de las mejores funciones de acceso de lectura como pd.read_csv () que por lo general devuelven un objeto pandas.
>Fichero de datos:   read_csv   ,  read_table  
Datos estructurados:  read_hdf  ,  read_json  
Excel:  read_excel

### read_excel

In [80]:
pd.read_excel?

In [82]:
# Read excel file: tablas_sinfo.xlsx located in data.

#>
pd.read_excel('../data/tablas_sinfo.xlsx', sheetname='SINFO').head()

  PETICIONARIO     VISTA                    DESCRIPCIÓN ÁMBITO
0        SINFO  VSFMABJC     PLASTICO TARJETA CREDITO_M  SINFO
1        SINFO  VSFMABJD      PLASTICO TARJETA DEBITO_M  SINFO
2        SINFO  VSFMAHAR  CONT DE MVTOS CUENTAS PERSO_M  SINFO
3        SINFO  VSFMAHOM     FACTURACION EN COMERCIOS_M  SINFO
4        SINFO  VSFMAHSS  CONTRATO DE SEGUROS SOCIALE_M  SINFO

### read_csv

dataframe = pd.**read_csv**("filepath",sep=', ', delimiter=None,header='infer'...)  
Por defecto toma la primera fila como la cabecera con los nombres del dataset.

In [83]:
pd.read_csv?

In [84]:
# Read csv file: Base_evolucion_fondos.csv located in data.

#>
base_evolucion_path = "../data/Base_evolucion_fondos.csv"
df = pd.read_csv(base_evolucion_path, header= None)
df.head()

,0,1,2,3,4,5,6,7
0,COD_USUARIO,COD_SEGLOBAL,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512
1,E000170,NaN,0,0,0,0,0,0
2,E000170,34,0,0,0,0,0,0
3,E000170,35,0,0,0,0,0,0
4,E000170,36,0,0,0,0,0,0

In [85]:
# Read csv file: Base_evolucion_fondos.csv located in data with header

#>
df = pd.read_csv(base_evolucion_path)
df.head()

,COD_USUARIO,COD_SEGLOBAL,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512
0,E000170,NaN,0.00,0.00,0.00,0.00,0.00,0.00
1,E000170,34.0,0.00,0.00,0.00,0.00,0.00,0.00
2,E000170,35.0,0.00,0.00,0.00,0.00,0.00,0.00
3,E000170,36.0,0.00,0.00,0.00,0.00,0.00,0.00
4,E000170,37.0,11684.42,11673.35,11675.79,11687.85,11696.99,11687.41

In [86]:
# Type of the df object:

#>
type(df)

pandas.core.frame.DataFrame

In [87]:
# List column names:

#>
list(df)

#or 

#>
df.columns.values

array(['COD_USUARIO', 'COD_SEGLOBAL', 'fondos_201507', 'fondos_201508',
       'fondos_201509', 'fondos_201510', 'fondos_201511', 'fondos_201512'], dtype=object)

In [88]:
# Show first few rows

#>
df.head()

,COD_USUARIO,COD_SEGLOBAL,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512
0,E000170,NaN,0.00,0.00,0.00,0.00,0.00,0.00
1,E000170,34.0,0.00,0.00,0.00,0.00,0.00,0.00
2,E000170,35.0,0.00,0.00,0.00,0.00,0.00,0.00
3,E000170,36.0,0.00,0.00,0.00,0.00,0.00,0.00
4,E000170,37.0,11684.42,11673.35,11675.79,11687.85,11696.99,11687.41

In [89]:
# Show last few rows

#>
df.tail()

,COD_USUARIO,COD_SEGLOBAL,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512
39720,UZ44403,51.0,45291.79,42150.19,40250.91,43582.43,44290.30,42851.89
39721,UZ44403,52.0,9724.66,8899.26,8446.44,9407.03,9664.82,9243.44
39722,UZ44403,55.0,83105.26,79572.65,77208.25,119590.83,120249.18,149363.74
39723,UZ44403,56.0,64385.96,61047.44,58773.43,61692.29,61958.25,60707.55
39724,UZ44403,61.0,6733.52,6749.17,6749.56,6748.73,6747.17,6738.10

In [90]:
# Data type of each column

#>
df.dtypes

COD_USUARIO       object
COD_SEGLOBAL     float64
fondos_201507    float64
fondos_201508    float64
fondos_201509    float64
fondos_201510    float64
fondos_201511    float64
fondos_201512    float64
dtype: object

In [92]:
# Print index

#>
df.index

RangeIndex(start=0, stop=39725, step=1)

In [93]:
# Return number of columns and rows of dataframe

#>
df.shape

(39725, 8)

In [96]:
#  Number of rows

#>
len(df)

39725

In [97]:
# Number of columns

#>
len(df.columns)

8

In [98]:
# Basic statistics

#>
df.describe()

,COD_SEGLOBAL,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512
count,36090.000000,3.972500e+04,3.972500e+04,3.972500e+04,3.972500e+04,3.972500e+04,3.972500e+04
mean,47.497839,3.943715e+05,3.841948e+05,3.752733e+05,3.869263e+05,3.884522e+05,3.814765e+05
std,9.083982,1.590689e+06,1.547671e+06,1.507742e+06,1.552754e+06,1.550784e+06,1.518714e+06
min,31.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,37.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,51.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,55.000000,6.218213e+04,6.210763e+04,6.135791e+04,6.585860e+04,6.825067e+04,6.901023e+04
max,75.000000,5.061299e+07,5.008203e+07,4.961765e+07,4.980997e+07,4.817754e+07,4.596495e+07

In [99]:
#Getting information and basic calculations

#>
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39725 entries, 0 to 39724
Data columns (total 8 columns):
COD_USUARIO      39725 non-null object
COD_SEGLOBAL     36090 non-null float64
fondos_201507    39725 non-null float64
fondos_201508    39725 non-null float64
fondos_201509    39725 non-null float64
fondos_201510    39725 non-null float64
fondos_201511    39725 non-null float64
fondos_201512    39725 non-null float64
dtypes: float64(7), object(1)
memory usage: 2.4+ MB

In [100]:
#  Slices the rows via [], select rows with index from 0 to 2

#>
df[:3]

   # or

#>
df[0:3]
    
    # or
    
#>    
df.iloc[:3]

    # or
    
#>    
df.ix[:3]

,COD_USUARIO,COD_SEGLOBAL,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512
0,E000170,NaN,0.0,0.0,0.0,0.0,0.0,0.0
1,E000170,34.0,0.0,0.0,0.0,0.0,0.0,0.0
2,E000170,35.0,0.0,0.0,0.0,0.0,0.0,0.0
3,E000170,36.0,0.0,0.0,0.0,0.0,0.0,0.0

In [102]:
# Label slicing, slice over rows and columns; the same as above and only COD_SEGLOBAL

#>
df.loc[0:3,['COD_SEGLOBAL']]

   COD_SEGLOBAL
0           NaN
1          34.0
2          35.0
3          36.0

In [249]:
# Slice rows and columns, select rows[3:6] colummsn [0,3]

#>
df.iloc[3:6,[0,3]]

  COD_USUARIO  fondos_201508
3     E000170           0.00
4     E000170       11673.35
5     E000170       65051.89

In [250]:
# Get a value explicitly by position, get row:1, column 1

#>
df.iloc[1,1]

# or

#>
df.iat[1,1]

34.0

In [251]:
# Get a value explicitly by label, get labels 1, 'COD_SEGLOBAL'

#>
df.at[1,'COD_SEGLOBAL']

34.0

In [106]:
# Select one column, which yields a Series. Select COD_SEGLOBAL:

#>
df[["COD_SEGLOBAL"]].head()

# or

#>
df.COD_SEGLOBAL.head()

0     NaN
1    34.0
2    35.0
3    36.0
4    37.0
Name: COD_SEGLOBAL, dtype: float64

In [253]:
# Select two columns. Select: COD_USUARIO and COD_SEGLOBAL

#>
df[["COD_USUARIO","COD_SEGLOBAL"]].head()

  COD_USUARIO  COD_SEGLOBAL
0     E000170           NaN
1     E000170          34.0
2     E000170          35.0
3     E000170          36.0
4     E000170          37.0

In [254]:
#Conditional selection

#>
boold_df = df > 34
df[boold_df]

,COD_USUARIO,COD_SEGLOBAL,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512
0,E000170,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E000170,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E000170,35.0,NaN,NaN,NaN,NaN,NaN,NaN
3,E000170,36.0,NaN,NaN,NaN,NaN,NaN,NaN
4,E000170,37.0,11684.42,11673.35,11675.79,11687.85,11696.99,11687.41
5,E000170,42.0,67014.43,65051.89,63686.01,65917.87,43472.36,23488.17
6,E000170,43.0,160260.96,154240.41,151735.51,157772.90,159883.25,155395.69
7,E000170,51.0,NaN,NaN,NaN,NaN,NaN,NaN
8,E000170,52.0,NaN,NaN,NaN,NaN,NaN,NaN
9,E000170,53.0,NaN,NaN,NaN,NaN,NaN,NaN
10,E000170,54.0,NaN,NaN,NaN,NaN,NaN,NaN
11,E000170,55.0,NaN,NaN,NaN,NaN,NaN,NaN
12,E000170,56.0,NaN,NaN,NaN,NaN,NaN,NaN
13,E000170,61.0,NaN,NaN,NaN,NaN,NaN,NaN
14,E000501,NaN,158772.14,154831.31,151801.95,154821.40,154964.26,153389.92
15,E000501,42.0,1143726.44,1152113.04,1134674.76,1200680.02,1205097.50,1190889.62
16,E000501,43.0,5903439.20,5859182.06,5619079.85,5728629.77,5747048.30,5674373.83
17,E000501,51.0,49750.59,46070.23,43520.47,47119.29,47466.83,45981.72
18,E000501,52.0,NaN,NaN,NaN,NaN,NaN,NaN
19,E000501,55.0,3180.03,4480.64,4373.56,36093.07,36502.79,36075.67
20,E000501,56.0,45203.51,43990.00,43203.73,100018.89,101300.60,99788.03
21,E000501,61.0,NaN,NaN,NaN,NaN,NaN,NaN
22,E000531,NaN,60958.04,58109.30,55963.78,58196.52,58049.08,81840.54
23,E000531,42.0,2327130.74,2429578.67,2394626.68,2495563.76,2562909.47,2437240.14
24,E000531,43.0,6401503.37,6246756.81,6194036.22,6394802.59,6414458.12,6421029.54
25,E000531,51.0,NaN,NaN,NaN,NaN,NaN,NaN
26,E000531,53.0,NaN,NaN,NaN,NaN,NaN,25523.54
27,E000531,55.0,106028.29,103552.50,102453.96,105456.27,28459.63,33538.69
28,E000531,56.0,26587.35,25193.19,9231.63,9698.31,9736.40,35065.99
29,E000531,61.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
39695,UN20939,NaN,NaN,NaN,29351.83,31912.09,32921.98,31588.61
39696,UN20939,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39697,UN20939,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39698,UN20939,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39699,UN20939,35.0,508109.57,494952.03,489380.61,506028.14,511592.39,503126.80
39700,UN20939,36.0,NaN,NaN,NaN,NaN,NaN,NaN
39701,UN20939,41.0,2221679.67,1866663.89,1598197.26,1665208.97,1880360.44,1933777.49
39702,UN20939,42.0,13210393.98,13136779.46,12160833.62,12731967.03,12576414.58,12872718.29
39703,UN20939,43.0,1953925.87,1916066.11,1837067.03,1915004.09,1828223.59,1797593.99
39704,UN20939,51.0,NaN,NaN,NaN,NaN,NaN,NaN
39705,UN20939,55.0,14840.10,13605.51,12552.69,14135.59,14456.72,13625.66
39706,UN20939,56.0,129460.02,127825.76,126843.50,131807.26,133252.77,132170.99
39707,UN20939,61.0,31451.05,31233.79,31070.99,31280.26,31902.58,33374.68
39708,UN30630,35.0,NaN,NaN,NaN,NaN,NaN,NaN
39709,UN30630,36.0,25887.66,25871.12,25854.40,25863.79,25868.35,25841.92
39710,UN30630,41.0,5779519.18,5746349.61,5688564.48,5755571.78,5716715.45,5711361.19
39711,UN30630,42.0,23325331.62,22619439.45,22158029.16,22928461.62,22848696.00,22449628.07
39712,UN30630,43.0,2896554.74,2835333.27,2774716.13,2845697.02,2862000.64,2880338.58
39713,UN30630,51.0,NaN,NaN,NaN,NaN,NaN,NaN
39714,UN30630,55.0,38538.53,38250.82,38481.57,38942.34,39354.14,38900.83
39715,UN30630,56.0,25393.17,24794.20,24321.34,24771.15,30120.85,29834.95
39716,UN30630,61.0,13677.78,13336.68,13065.83,13321.08,13326.78,13192.80
39717,UZ44403,NaN,89477.81,86449.35,138533.24,213178.74,212651.64,210164.89
39718,UZ44403,42.0,3172490.53,3072344.65,3008000.72,3125223.13,3152193.42,3303371.24
39719,UZ44403,43.0,2538994.41,2678786.57,2611285.11,2627792.53,2749906.80,2749296.57
39720,UZ44403,51.0,45291.79,42150.19,40250.91,43582.43,44290.30,42851.89
39721,UZ44403,52.0,9724.66,8899.26,8446.44,9407.03,9664.82,9243.44
39722,UZ44403,55.0,83105.26,79572.65,77208.25,119590.83,120249.18,149363.74
39723,UZ44403,56.0,64385.96,61047.44,58773.43,61692.29,61958.25,60707.55
39724,UZ44403,61.0,6733.52,6749.17,6749.56,6748.73,6747.17,6738.10

In [255]:
# Select with condition, using a single columnn's values to select rows
# Filter rows for the condition COD_SEGLOBAL>34

#>
df[df['COD_SEGLOBAL'] > 34].head()

     # or
#>    
df.query("COD_SEGLOBAL > 34").head()

,COD_USUARIO,COD_SEGLOBAL,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512
2,E000170,35.0,0.00,0.00,0.00,0.00,0.00,0.00
3,E000170,36.0,0.00,0.00,0.00,0.00,0.00,0.00
4,E000170,37.0,11684.42,11673.35,11675.79,11687.85,11696.99,11687.41
5,E000170,42.0,67014.43,65051.89,63686.01,65917.87,43472.36,23488.17
6,E000170,43.0,160260.96,154240.41,151735.51,157772.90,159883.25,155395.69

In [107]:
# Filter with double condition: 
# Filter for the conditions: COD_SEGLOBAL=34 AND fondos_201507 >0
#>
df[(df['COD_SEGLOBAL']==34)  & (df["fondos_201507"]>0)].head()

# or

#>
df.query("COD_SEGLOBAL == 34 & fondos_201507 >0").head()

,COD_USUARIO,COD_SEGLOBAL,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512
66,E000839,34.0,811363.27,780156.92,759107.87,787793.77,791198.14,778252.87
149,E018300,34.0,629302.80,611500.83,552623.06,555489.94,559612.44,602340.80
185,E018550,34.0,30715.54,29126.15,28050.06,29438.58,29567.54,28969.27
191,E018722,34.0,51854.54,51821.42,0.00,0.00,0.00,0.00
250,E018759,34.0,99975.88,91711.71,35975.30,39824.39,40686.49,39330.41

In [108]:
# Filter with double condition: 
# Filter for the conditions: COD_SEGLOBAL=34 OR fondos_201507 =0

#>
df[(df['COD_SEGLOBAL']==34)  | (df["fondos_201507"]==0)].head()

    # or

#>
df.query("COD_SEGLOBAL == 34 | fondos_201507 ==0").head()

,COD_USUARIO,COD_SEGLOBAL,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512
0,E000170,NaN,0.0,0.0,0.0,0.0,0.0,0.0
1,E000170,34.0,0.0,0.0,0.0,0.0,0.0,0.0
2,E000170,35.0,0.0,0.0,0.0,0.0,0.0,0.0
3,E000170,36.0,0.0,0.0,0.0,0.0,0.0,0.0
7,E000170,51.0,0.0,0.0,0.0,0.0,0.0,0.0

In [109]:
# Filter using isin() method for filtering
# Select data if 'COD_SEGLOBAL' isin: 35.0, 39.0, 41.0 

#>
df[df['COD_SEGLOBAL'].isin([35.0, 39.0, 41.0])].head()

,COD_USUARIO,COD_SEGLOBAL,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512
2,E000170,35.0,0.00,0.00,0.00,0.00,0.00,0.00
67,E000839,35.0,1099182.08,1055838.46,844188.23,873946.38,878437.93,925242.25
126,E018089,35.0,0.00,0.00,0.00,0.00,0.00,0.00
138,E018296,41.0,0.00,0.00,0.00,0.00,0.00,0.00
150,E018300,35.0,1003572.54,979154.74,952984.13,966369.91,970343.66,958739.18

In [114]:
# Get unique vales on columnn: COD_SEGLOBAL

#>
df["COD_SEGLOBAL"].unique()

array([ nan,  34.,  35.,  36.,  37.,  42.,  43.,  51.,  52.,  53.,  54.,
        55.,  56.,  61.,  62.,  41.,  33.,  63.,  31.,  71.,  32.,  73.,
        72.,  75.,  74.])

In [115]:
# Maximum of the "fondos_201507" column

#>
df.fondos_201507.max()

50612990.479999997

In [116]:
df.set_index?

In [262]:
# reset_index() The index is copied in a column "index" and index Dataframe is starting in 0
# set_index("column_name") create index from column

# Note: boht methods you need to include inplace = True

### Group By

In [288]:
# Group by and aggregation function over all columns it is possible

#>
df.groupby("COD_USUARIO").mean()

,COD_SEGLOBAL,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512,COD_SEG_34
COD_USUARIO,,,,,,,,
E000170,46.846154,1.706856e+04,1.649755e+04,1.622124e+04,1.681276e+04,1.536090e+04,1.361223e+04,0.071429
E000501,51.428571,9.130090e+05,9.075834e+05,8.745818e+05,9.084203e+05,9.115475e+05,9.000623e+05,0.000000
E000531,51.571429,1.115276e+06,1.107899e+06,1.094539e+06,1.132965e+06,1.134202e+06,1.129280e+06,0.000000
E000545,50.300000,3.918370e+05,3.767131e+05,3.663443e+05,3.796563e+05,3.812436e+05,3.790332e+05,0.000000
E000558,51.428571,2.829866e+05,2.734438e+05,2.723402e+05,2.787285e+05,2.728685e+05,2.749118e+05,0.000000
E000575,52.888889,2.151412e+05,2.104763e+05,2.070488e+05,2.293190e+05,2.265792e+05,2.230355e+05,0.000000
E000766,49.400000,1.884467e+06,1.831894e+06,1.799597e+06,1.848561e+06,1.888595e+06,1.868090e+06,0.000000
E000839,46.923077,2.317509e+05,2.235484e+05,2.008691e+05,2.065937e+05,2.074642e+05,2.084072e+05,0.071429
E001223,47.625000,3.629414e+05,3.609369e+05,3.558529e+05,3.658500e+05,3.647546e+05,3.732195e+05,0.000000
E017652,51.428571,8.942887e+05,8.799818e+05,8.724050e+05,9.057021e+05,8.969409e+05,8.758385e+05,0.000000
E017834,52.888889,1.149685e+05,1.165037e+05,1.141334e+05,1.369424e+05,1.340435e+05,1.393606e+05,0.000000
E017873,52.000000,1.879788e+05,1.897819e+05,1.745395e+05,1.766322e+05,2.087553e+05,2.038067e+05,0.000000
E017941,54.250000,1.221396e+04,1.313548e+04,1.290846e+04,1.305184e+04,9.831847e+03,9.755462e+03,0.000000
E018089,46.166667,7.699946e+02,7.640192e+02,7.509923e+02,7.637092e+02,7.669931e+02,7.598123e+02,0.076923
E018296,51.700000,3.519927e+05,3.501559e+05,3.401054e+05,3.486153e+05,3.516532e+05,3.505731e+05,0.000000
E018300,47.333333,1.892275e+05,1.835410e+05,1.751895e+05,1.792085e+05,1.801818e+05,1.814853e+05,0.076923
E018439,49.625000,4.199914e+05,3.958079e+05,4.002822e+05,4.569105e+05,4.598934e+05,4.597456e+05,0.000000
E018543,47.916667,6.392005e+04,5.854993e+04,6.366614e+04,7.234713e+04,7.193129e+04,6.857384e+04,0.000000
E018550,37.833333,5.078504e+04,4.340586e+04,3.775414e+04,3.939885e+04,3.885795e+04,3.645859e+04,0.142857
E018722,42.875000,6.755489e+04,6.525520e+04,5.764345e+04,5.800686e+04,5.832433e+04,5.556792e+04,0.111111
E018723,41.142857,1.918692e+04,1.836952e+04,1.752416e+04,1.843324e+04,1.843886e+04,1.794939e+04,0.125000
E018732,47.538462,3.231349e+05,3.160831e+05,3.118818e+05,3.396105e+05,3.571819e+05,3.544613e+05,0.071429
E018734,48.545455,6.019184e+05,5.926958e+05,5.693473e+05,5.852631e+05,5.828688e+05,5.851798e+05,0.000000
E018745,49.400000,1.549758e+06,1.510394e+06,1.494001e+06,1.529606e+06,1.544240e+06,1.532792e+06,0.000000
E018755,41.888889,2.713218e+04,2.608427e+04,2.674508e+04,2.768194e+04,2.777486e+04,2.733675e+04,0.100000
E018759,47.909091,7.510382e+05,6.727009e+05,6.493202e+05,6.697096e+05,6.948794e+05,6.899975e+05,0.083333
E018784,52.900000,1.475729e+05,1.379594e+05,1.348850e+05,1.413202e+05,1.377771e+05,1.305774e+05,0.000000
E018790,49.500000,1.412154e+05,1.412923e+05,1.308605e+05,1.288484e+05,1.315518e+05,1.309003e+05,0.000000
E018795,54.250000,1.115857e+05,1.094174e+05,1.057798e+05,1.103890e+05,1.102556e+05,1.077054e+05,0.000000
E018800,47.071429,2.580573e+03,2.408276e+03,6.453061e+03,6.988463e+03,7.087613e+03,6.864197e+03,0.066667
...,...,...,...,...,...,...,...,...
UH40047,51.428571,1.559291e+06,1.590163e+06,1.549807e+06,1.586567e+06,1.590902e+06,1.573715e+06,0.000000
UH40316,44.000000,5.701709e+05,5.531923e+05,5.409872e+05,5.171420e+05,5.173045e+05,5.108506e+05,0.100000
UH40883,47.454545,6.605112e+05,6.502895e+05,6.291385e+05,6.394890e+05,6.495318e+05,6.768095e+05,0.000000
UH43321,43.200000,2.895883e+06,2.817641e+06,2.606734e+06,2.604578e+06,2.635607e+06,2.577133e+06,0.090909
UH43528,44.800000,1.905777e+05,1.868473e+05,1.871099e+05,1.906828e+05,1.936672e+05,1.895404e+05,0.000000
UH43680,44.142857,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
UH43792,45.000000,2.603458e+05,2.474588e+05,2.388143e+05,2.435682e+05,2.440540e+05,2.417649e+05,0.000000
UH43873,48.700000,4.996865e+04,6.523233e+04,5.624419e+04,5.866329e+04,5.903847e+04,5.521063e+04,0.000000
UH44085,44.500000,3.995414e+04,3.840933e+04,3.752320e+04,3.915383e+04,3.955714e+04,3.865320e+04,0.076923
UH44160,51.200000,9.129946e+04,8.840417e+04,8.626939e+04,8.527154e+04,8.557996e+04,8.450147e+04,0.000000
UH44430,48.800000,2.809070e+05,2.648955e+05,2.607957e+05,2.683893e+05,2.700299e+05,2.658771e+05,0.000000
UH44502,43.000000,3.332717e+04,3.448457e+04,3.378391e+04,3.716961e+04,3.737577e+04,3.672332e+04,0.166667
UH44759,49.000000,1.620323e+06,1.583151e+06,1.564463e+06,1.595096e+06,1.656871e+06,1.634754e+06,0.000000
UH44770,47.454545,1.271295e+05,1.250188e+05,1.204622e+05,1.203529e+05,1.212715e+05,1.210679e+05,0.000000
UH44831,45.923077,2.836595e+05,2.756200e+05,2.698285e+05,2.810305e+05,2.850142e+05,2.825869e+05,0.071429
UH44832,35.000000,2.832240e+03,2.825565e+03,2.819870e+03,2.825307e+03,2.825775e+03,2.822180e+03,0.250000
UH44869,41.833333,8.805250e+03,8.576457e+03,8.425649e+03,8.628300e+03,7.017520e+03,6.927546e+03,0.142857
UH44891,39.714286,2.904233e+04,2.821318e+04,2.881778e+04,2.949657e+04,2.952594e+04,2.919171e+04,0.125000
UH44909,47.333333,2.184220e+05,2.214714e+05,2.200463e+05,2.345079e+05,2.433736e+05,2.539387e+05,0.000000
UH44912,48.111111,3.502585e+04,1.936614e+05,1.889786e+05,6.455927e+04,6.488755e+04,6.371794e+04,0.000000
UH44915,47.111111,1.637984e+05,1.574461e+05,1.520246e+05,1.583731e+05,1.981712e+05,1.987245e+05,0.000000
UH44919,44.100000,1.888171e+05,1.827119e+05,1.797701e+05,2.026445e+05,2.037038e+05,1.901765e+05,0.090909
UH45303,46.400000,1.963572e+04,1.958839e+04,1.960883e+04,1.969081e+04,1.971872e+04,1.970944e+04,0.000000
UH50061,49.727273,9.790527e+05,9.415158e+05,9.084314e+05,9.471446e+05,9.473651e+05,9.282297e+05,0.000000
UH50141,44.818182,3.765244e+05,3.822979e+05,3.771222e+05,3.971348e+05,3.942953e+05,3.917456e+05,0.083333
UH50179,42.333333,2.754077e+04,2.750764e+04,2.751802e+04,2.758917e+04,2.763630e+04,2.758741e+04,0.100000
UH74179,43.571429,3.807890e+03,3.805457e+03,3.802997e+03,3.804379e+03,3.805049e+03,3.801161e+03,0.125000
UN20939,43.250000,1.389989e+06,1.352856e+06,1.252715e+06,1.309796e+06,1.308394e+06,1.332152e+06,0.076923
UN30630,46.666667,3.567211e+06,3.478153e+06,3.413670e+06,3.514737e+06,3.504009e+06,3.461011e+06,0.000000
UZ44403,51.428571,7.512755e+05,7.544999e+05,7.436560e+05,7.759020e+05,7.947077e+05,8.164672e+05,0.000000

In [280]:
# Maximum fondos_201507 by COD_USUARIO

#>
df.groupby("COD_USUARIO").agg({"fondos_201507":"max"}).reset_index()

    #or
#>
df.groupby("COD_USUARIO")["fondos_201507"].max().reset_index()

     COD_USUARIO  fondos_201507
0        E000170      160260.96
1        E000501     5903439.20
2        E000531     6401503.37
3        E000545     3255015.86
4        E000558     1908020.96
5        E000575     1453531.75
6        E000766     8327876.90
7        E000839     1099182.08
8        E001223     3056661.14
9        E017652     6915466.66
10       E017834      808608.33
11       E017873     1492884.69
12       E017941      109361.27
13       E018089       10009.93
14       E018296     2764433.00
15       E018300     1003572.54
16       E018439     3051151.10
17       E018543      606262.17
18       E018550      294480.74
19       E018722      261436.57
20       E018723      153495.34
21       E018732     3302696.27
22       E018734     5489820.23
23       E018745     7285409.80
24       E018755      141768.86
25       E018759     5001295.61
26       E018784      510155.60
27       E018790     1274507.10
28       E018795      794137.19
29       E018800       17433.76
...          ...            ...
3922     UH40047    10902451.10
3923     UH40316     3880476.11
3924     UH40883     5980956.12
3925     UH43321    22311047.95
3926     UH43528     1196787.10
3927     UH43680           0.00
3928     UH43792     1494260.35
3929     UH43873      321857.94
3930     UH44085      489089.69
3931     UH44160      724939.54
3932     UH44430     1562346.62
3933     UH44502      175061.93
3934     UH44759     7338139.67
3935     UH44770     1432125.35
3936     UH44831     1989441.83
3937     UH44832       10480.94
3938     UH44869       30153.46
3939     UH44891      198516.12
3940     UH44909     1225897.03
3941     UH44912      334488.49
3942     UH44915      941750.81
3943     UH44919     1300119.67
3944     UH45303       94300.63
3945     UH50061     4947593.50
3946     UH50141     3599289.45
3947     UH50179      275407.67
3948     UH74179       30463.12
3949     UN20939    13210393.98
3950     UN30630    23325331.62
3951     UZ44403     3172490.53

[3952 rows x 2 columns]

In [264]:
# Mean fondos_201507 by COD_USUARIO, and rename column result to : Mean_fondos_201507

#>
df.groupby(["COD_USUARIO","COD_SEGLOBAL"]).agg({"fondos_201507":"mean"}).rename(columns={"fondos_201507":"Mean_fondos_201507"})

                          Mean_fondos_201507
COD_USUARIO COD_SEGLOBAL
E000170     34.0                        0.00
            35.0                        0.00
            36.0                        0.00
            37.0                    11684.42
            42.0                    67014.43
            43.0                   160260.96
            51.0                        0.00
            52.0                        0.00
            53.0                        0.00
            54.0                        0.00
            55.0                        0.00
            56.0                        0.00
            61.0                        0.00
E000501     42.0                  1143726.44
            43.0                  5903439.20
            51.0                    49750.59
            52.0                        0.00
            55.0                     3180.03
            56.0                    45203.51
            61.0                        0.00
E000531     42.0                  2327130.74
            43.0                  6401503.37
            51.0                        0.00
            53.0                        0.00
            55.0                   106028.29
            56.0                    26587.35
            61.0                        0.00
E000545     36.0                   164499.26
            42.0                   785227.00
            43.0                  3255015.86
...                                      ...
UH74179     52.0                        0.00
            54.0                        0.00
UN20939     32.0                        0.00
            33.0                        0.00
            34.0                        0.00
            35.0                   508109.57
            36.0                        0.00
            41.0                  2221679.67
            42.0                 13210393.98
            43.0                  1953925.87
            51.0                        0.00
            55.0                    14840.10
            56.0                   129460.02
            61.0                    31451.05
UN30630     35.0                        0.00
            36.0                    25887.66
            41.0                  5779519.18
            42.0                 23325331.62
            43.0                  2896554.74
            51.0                        0.00
            55.0                    38538.53
            56.0                    25393.17
            61.0                    13677.78
UZ44403     42.0                  3172490.53
            43.0                  2538994.41
            51.0                    45291.79
            52.0                     9724.66
            55.0                    83105.26
            56.0                    64385.96
            61.0                     6733.52

[36090 rows x 1 columns]

In [291]:
# Describe information about group dataframe

#>
df.groupby(["COD_SEGLOBAL"]).describe()

                    fondos_201507  fondos_201508  fondos_201509  \
COD_SEGLOBAL
31.0         count   3.500000e+01   3.500000e+01   3.500000e+01
             mean    5.537936e+05   5.423679e+05   6.145769e+05
             std     2.657048e+06   2.607464e+06   2.582427e+06
             min     0.000000e+00   0.000000e+00   0.000000e+00
             25%     0.000000e+00   0.000000e+00   0.000000e+00
             50%     0.000000e+00   0.000000e+00   0.000000e+00
             75%     0.000000e+00   0.000000e+00   0.000000e+00
             max     1.572679e+07   1.543511e+07   1.503807e+07
32.0         count   9.900000e+01   9.900000e+01   9.900000e+01
             mean    8.684837e+04   8.631245e+04   8.374194e+04
             std     4.492450e+05   4.421030e+05   4.420332e+05
             min     0.000000e+00   0.000000e+00   0.000000e+00
             25%     0.000000e+00   0.000000e+00   0.000000e+00
             50%     0.000000e+00   0.000000e+00   0.000000e+00
             75%     0.000000e+00   0.000000e+00   0.000000e+00
             max     3.926567e+06   3.755191e+06   3.788454e+06
33.0         count   2.400000e+02   2.400000e+02   2.400000e+02
             mean    1.227870e+05   1.176857e+05   1.142975e+05
             std     6.419598e+05   6.214000e+05   6.089046e+05
             min     0.000000e+00   0.000000e+00   0.000000e+00
             25%     0.000000e+00   0.000000e+00   0.000000e+00
             50%     0.000000e+00   0.000000e+00   0.000000e+00
             75%     0.000000e+00   0.000000e+00   0.000000e+00
             max     6.090049e+06   5.957139e+06   5.880785e+06
34.0         count   1.296000e+03   1.296000e+03   1.296000e+03
             mean    1.353006e+05   1.320057e+05   1.270090e+05
             std     5.625421e+05   5.486606e+05   5.376290e+05
             min     0.000000e+00   0.000000e+00   0.000000e+00
             25%     0.000000e+00   0.000000e+00   0.000000e+00
             50%     0.000000e+00   0.000000e+00   0.000000e+00
...                           ...            ...            ...
72.0         std     0.000000e+00   0.000000e+00   0.000000e+00
             min     0.000000e+00   0.000000e+00   0.000000e+00
             25%     0.000000e+00   0.000000e+00   0.000000e+00
             50%     0.000000e+00   0.000000e+00   0.000000e+00
             75%     0.000000e+00   0.000000e+00   0.000000e+00
             max     0.000000e+00   0.000000e+00   0.000000e+00
73.0         count   6.100000e+01   6.100000e+01   6.100000e+01
             mean    1.946252e+04   1.945237e+04   1.944137e+04
             std     1.520071e+05   1.519279e+05   1.518420e+05
             min     0.000000e+00   0.000000e+00   0.000000e+00
             25%     0.000000e+00   0.000000e+00   0.000000e+00
             50%     0.000000e+00   0.000000e+00   0.000000e+00
             75%     0.000000e+00   0.000000e+00   0.000000e+00
             max     1.187214e+06   1.186595e+06   1.185924e+06
74.0         count   1.600000e+01   1.600000e+01   1.600000e+01
             mean    0.000000e+00   0.000000e+00   0.000000e+00
             std     0.000000e+00   0.000000e+00   0.000000e+00
             min     0.000000e+00   0.000000e+00   0.000000e+00
             25%     0.000000e+00   0.000000e+00   0.000000e+00
             50%     0.000000e+00   0.000000e+00   0.000000e+00
             75%     0.000000e+00   0.000000e+00   0.000000e+00
             max     0.000000e+00   0.000000e+00   0.000000e+00
75.0         count   5.400000e+01   5.400000e+01   5.400000e+01
             mean    1.243274e+03   4.113650e+02   4.066661e+02
             std     9.136161e+03   3.022903e+03   2.988373e+03
             min     0.000000e+00   0.000000e+00   0.000000e+00
             25%     0.000000e+00   0.000000e+00   0.000000e+00
             50%     0.000000e+00   0.000000e+00   0.000000e+00
             75%     0.000000e+00   0.000000e+00   0.000000e+00
             max     6.713680e+04   2.221371e+04   2.195997e+04

                    fondos_201510  fondos_201511  fondos_201512
COD_SEGLOBAL
31.0         count   3.500000e+01   3.500000e+01   3.500000e+01
             mean    6.404842e+05   6.211203e+05   5.846042e+05
             std     2.708621e+06   2.586518e+06   2.381022e+06
             min     0.000000e+00   0.000000e+00   0.000000e+00
             25%     0.000000e+00   0.000000e+00   0.000000e+00
             50%     0.000000e+00   0.000000e+00   0.000000e+00
             75%     0.000000e+00   0.000000e+00   0.000000e+00
             max     1.579872e+07   1.505233e+07   1.380077e+07
32.0         count   9.900000e+01   9.900000e+01   9.900000e+01
             mean    8.736599e+04   8.785439e+04   8.630741e+04
             std     4.523097e+05   4.544543e+05   4.456514e+05
             min     0.000000e+00   0.000000e+00   0.000000e+00
             25%     0.000000e+00   0.000000e+00   0.000000e+00
             50%     0.000000e+00   0.000000e+00   0.000000e+00
             75%     0.000000e+00   0.000000e+00   0.000000e+00
             max     3.949050e+06   3.967545e+06   3.896949e+06
33.0         count   2.400000e+02   2.400000e+02   2.400000e+02
             mean    1.179521e+05   1.092236e+05   1.038937e+05
             std     6.272936e+05   6.003309e+05   5.720024e+05
             min     0.000000e+00   0.000000e+00   0.000000e+00
             25%     0.000000e+00   0.000000e+00   0.000000e+00
             50%     0.000000e+00   0.000000e+00   0.000000e+00
             75%     0.000000e+00   0.000000e+00   0.000000e+00
             max     6.016623e+06   6.092095e+06   5.990943e+06
34.0         count   1.296000e+03   1.296000e+03   1.296000e+03
             mean    1.297771e+05   1.308606e+05   1.298749e+05
             std     5.455236e+05   5.504984e+05   5.505394e+05
             min     0.000000e+00   0.000000e+00   0.000000e+00
             25%     0.000000e+00   0.000000e+00   0.000000e+00
             50%     0.000000e+00   0.000000e+00   0.000000e+00
...                           ...            ...            ...
72.0         std     0.000000e+00   0.000000e+00   0.000000e+00
             min     0.000000e+00   0.000000e+00   0.000000e+00
             25%     0.000000e+00   0.000000e+00   0.000000e+00
             50%     0.000000e+00   0.000000e+00   0.000000e+00
             75%     0.000000e+00   0.000000e+00   0.000000e+00
             max     0.000000e+00   0.000000e+00   0.000000e+00
73.0         count   6.100000e+01   6.100000e+01   6.100000e+01
             mean    1.945268e+04   1.945544e+04   1.944484e+04
             std     1.519303e+05   1.519519e+05   1.518690e+05
             min     0.000000e+00   0.000000e+00   0.000000e+00
             25%     0.000000e+00   0.000000e+00   0.000000e+00
             50%     0.000000e+00   0.000000e+00   0.000000e+00
             75%     0.000000e+00   0.000000e+00   0.000000e+00
             max     1.186613e+06   1.186782e+06   1.186135e+06
74.0         count   1.600000e+01   1.600000e+01   1.600000e+01
             mean    0.000000e+00   0.000000e+00   0.000000e+00
             std     0.000000e+00   0.000000e+00   0.000000e+00
             min     0.000000e+00   0.000000e+00   0.000000e+00
             25%     0.000000e+00   0.000000e+00   0.000000e+00
             50%     0.000000e+00   0.000000e+00   0.000000e+00
             75%     0.000000e+00   0.000000e+00   0.000000e+00
             max     0.000000e+00   0.000000e+00   0.000000e+00
75.0         count   5.400000e+01   5.400000e+01   5.400000e+01
             mean    4.108315e+02   4.113622e+02   4.086859e+02
             std     3.018982e+03   3.022883e+03   3.003216e+03
             min     0.000000e+00   0.000000e+00   0.000000e+00
             25%     0.000000e+00   0.000000e+00   0.000000e+00
             50%     0.000000e+00   0.000000e+00   0.000000e+00
             75%     0.000000e+00   0.000000e+00   0.000000e+00
             max     2.218490e+04   2.221356e+04   2.206904e+04

[192 rows x 6 columns]

In [139]:
# Remove a column, delete 'COD_SEGLOBAL'

df1 = df.copy()
#>

df1.drop('COD_SEGLOBAL', axis=1, inplace=True)

#or
df1 = df.copy()
#>
df1.drop(df1.columns[1], axis=1, inplace=True) 

# or
df1 = df.copy()
#>
del df1['COD_SEGLOBAL']
df1.columns

Index(['COD_USUARIO', 'fondos_201507', 'fondos_201508', 'fondos_201509',
       'fondos_201510', 'fondos_201511', 'fondos_201512'],
      dtype='object')

In [135]:
# Remove multiple columns, delete 'COD_SEGLOBAL' and 'fondos_201507'

df1 = df.copy()
#>
df1.drop(df1.columns[[1, 2]], axis=1, inplace=True)
df1
    # or
df1 = df.copy()
#>
df1.drop(['COD_SEGLOBAL','fondos_201507'], axis=1, inplace=True)
df1

,COD_USUARIO,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512
0,E000170,0.00,0.00,0.00,0.00,0.00
1,E000170,0.00,0.00,0.00,0.00,0.00
2,E000170,0.00,0.00,0.00,0.00,0.00
3,E000170,0.00,0.00,0.00,0.00,0.00
4,E000170,11673.35,11675.79,11687.85,11696.99,11687.41
5,E000170,65051.89,63686.01,65917.87,43472.36,23488.17
6,E000170,154240.41,151735.51,157772.90,159883.25,155395.69
7,E000170,0.00,0.00,0.00,0.00,0.00
8,E000170,0.00,0.00,0.00,0.00,0.00
9,E000170,0.00,0.00,0.00,0.00,0.00
10,E000170,0.00,0.00,0.00,0.00,0.00
11,E000170,0.00,0.00,0.00,0.00,0.00
12,E000170,0.00,0.00,0.00,0.00,0.00
13,E000170,0.00,0.00,0.00,0.00,0.00
14,E000501,154831.31,151801.95,154821.40,154964.26,153389.92
15,E000501,1152113.04,1134674.76,1200680.02,1205097.50,1190889.62
16,E000501,5859182.06,5619079.85,5728629.77,5747048.30,5674373.83
17,E000501,46070.23,43520.47,47119.29,47466.83,45981.72
18,E000501,0.00,0.00,0.00,0.00,0.00
19,E000501,4480.64,4373.56,36093.07,36502.79,36075.67
20,E000501,43990.00,43203.73,100018.89,101300.60,99788.03
21,E000501,0.00,0.00,0.00,0.00,0.00
22,E000531,58109.30,55963.78,58196.52,58049.08,81840.54
23,E000531,2429578.67,2394626.68,2495563.76,2562909.47,2437240.14
24,E000531,6246756.81,6194036.22,6394802.59,6414458.12,6421029.54
25,E000531,0.00,0.00,0.00,0.00,0.00
26,E000531,0.00,0.00,0.00,0.00,25523.54
27,E000531,103552.50,102453.96,105456.27,28459.63,33538.69
28,E000531,25193.19,9231.63,9698.31,9736.40,35065.99
29,E000531,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...
39695,UN20939,0.00,29351.83,31912.09,32921.98,31588.61
39696,UN20939,0.00,0.00,0.00,0.00,0.00
39697,UN20939,0.00,0.00,0.00,0.00,0.00
39698,UN20939,0.00,0.00,0.00,0.00,0.00
39699,UN20939,494952.03,489380.61,506028.14,511592.39,503126.80
39700,UN20939,0.00,0.00,0.00,0.00,0.00
39701,UN20939,1866663.89,1598197.26,1665208.97,1880360.44,1933777.49
39702,UN20939,13136779.46,12160833.62,12731967.03,12576414.58,12872718.29
39703,UN20939,1916066.11,1837067.03,1915004.09,1828223.59,1797593.99
39704,UN20939,0.00,0.00,0.00,0.00,0.00
39705,UN20939,13605.51,12552.69,14135.59,14456.72,13625.66
39706,UN20939,127825.76,126843.50,131807.26,133252.77,132170.99
39707,UN20939,31233.79,31070.99,31280.26,31902.58,33374.68
39708,UN30630,0.00,0.00,0.00,0.00,0.00
39709,UN30630,25871.12,25854.40,25863.79,25868.35,25841.92
39710,UN30630,5746349.61,5688564.48,5755571.78,5716715.45,5711361.19
39711,UN30630,22619439.45,22158029.16,22928461.62,22848696.00,22449628.07
39712,UN30630,2835333.27,2774716.13,2845697.02,2862000.64,2880338.58
39713,UN30630,0.00,0.00,0.00,0.00,0.00
39714,UN30630,38250.82,38481.57,38942.34,39354.14,38900.83
39715,UN30630,24794.20,24321.34,24771.15,30120.85,29834.95
39716,UN30630,13336.68,13065.83,13321.08,13326.78,13192.80
39717,UZ44403,86449.35,138533.24,213178.74,212651.64,210164.89
39718,UZ44403,3072344.65,3008000.72,3125223.13,3152193.42,3303371.24
39719,UZ44403,2678786.57,2611285.11,2627792.53,2749906.80,2749296.57
39720,UZ44403,42150.19,40250.91,43582.43,44290.30,42851.89
39721,UZ44403,8899.26,8446.44,9407.03,9664.82,9243.44
39722,UZ44403,79572.65,77208.25,119590.83,120249.18,149363.74
39723,UZ44403,61047.44,58773.43,61692.29,61958.25,60707.55
39724,UZ44403,6749.17,6749.56,6748.73,6747.17,6738.10

### Merge

In [267]:
df1.merge?

In [212]:
# Merge two dataframes. Merge df1 and df2 (outer join) on Ciudad

data1 = {'Ciudad':['Trujillo', 'Las Pedroñeras', 'Navaluenga'], 'Provincia':['Caceres', 'Cuenca', 'Avila'], 'Poblacion':[10000, 2000, 400]}

data2 = {'Ciudad':['Trujillo', 'Las Pedroñeras', 'Navaluenga'], 'Poblacion':[12000, 1800, 380]}

df1 = pd.DataFrame(data1)

df2 = pd.DataFrame(data2)

#>
diff = df1.merge(df2, how='outer', on='Ciudad', suffixes=['_2000', '_1970'])
diff

           Ciudad  Poblacion_2000 Provincia  Poblacion_1970
0        Trujillo           10000   Caceres           12000
1  Las Pedroñeras            2000    Cuenca            1800
2      Navaluenga             400     Avila             380

In [269]:
# Substract. Create column Diferencia 1970-2000 with  Poblacion_2000 - Poblacion_1970 

#>
diff['Diferencia 1970-2000'] = diff['Poblacion_2000'] - diff['Poblacion_1970']

diff

,Ciudad,Poblacion_2000,Provincia,Poblacion_1970,Diferencia 1970-2000
0,Trujillo,10000,Caceres,12000,-2000
1,Las Pedroñeras,2000,Cuenca,1800,200
2,Navaluenga,400,Avila,380,20
3,Navaluenga,40000,Albacete,30000,10000

In [270]:
# Call functions for grouping. From df, create 'Count_201507_0' column to count fondos_201507=0.0

#>
df.assign(Eq0 = (df.fondos_201507 == 0.0)).groupby("Eq0").agg({"Eq0":"count"}).rename(columns ={"Eq0":"Count_201507_0"})

       Count_201507_0
Eq0
False           15971
True            23754

In [148]:
# Order in ascending order by fondos_201507 show top 6

#>
df.sort_values(by='fondos_201507').head(6)

,COD_USUARIO,COD_SEGLOBAL,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512
0,E000170,NaN,0.0,0.0,0.0,0.0,0.0,0.0
16417,U091554,51.0,0.0,0.0,0.0,0.0,0.0,0.0
30026,U232050,51.0,0.0,0.0,0.0,0.0,0.0,0.0
16415,U091554,42.0,0.0,0.0,0.0,0.0,0.0,0.0
16414,U091554,36.0,0.0,0.0,0.0,0.0,0.0,0.0
16413,U091554,NaN,0.0,0.0,0.0,0.0,0.0,24606.9

In [150]:
# Order in descending order by fondos_201507 show top 6

#>
df.sort_values('fondos_201507', ascending = False).head(6)

,COD_USUARIO,COD_SEGLOBAL,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512
7001,U074939,41.0,50612990.48,50082028.12,49617645.70,49809970.95,48177541.14,45964949.26
21230,U098194,41.0,36135799.24,36481821.01,35557226.28,36119304.92,36083203.97,35601321.24
26599,U220043,42.0,32706296.65,31311523.98,31211364.45,33857520.17,35353067.41,34837797.38
27653,U224174,42.0,30323622.80,29298590.67,28316992.22,29763001.90,29958146.14,29411963.16
32983,U507626,42.0,28937953.28,28405796.79,27029486.90,27286799.47,27117331.04,26614780.84
13094,U084525,42.0,28094421.69,27088555.17,26551854.35,27408597.92,27600691.43,27157830.87

In [152]:
# Order in different sense order: "fondos_201507" in descending and "COD_SEGLOBAL" in ascending

#>
df.sort_values(by=['fondos_201507','COD_SEGLOBAL'], ascending = [False,True]).head(6)

,COD_USUARIO,COD_SEGLOBAL,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512
7001,U074939,41.0,50612990.48,50082028.12,49617645.70,49809970.95,48177541.14,45964949.26
21230,U098194,41.0,36135799.24,36481821.01,35557226.28,36119304.92,36083203.97,35601321.24
26599,U220043,42.0,32706296.65,31311523.98,31211364.45,33857520.17,35353067.41,34837797.38
27653,U224174,42.0,30323622.80,29298590.67,28316992.22,29763001.90,29958146.14,29411963.16
32983,U507626,42.0,28937953.28,28405796.79,27029486.90,27286799.47,27117331.04,26614780.84
13094,U084525,42.0,28094421.69,27088555.17,26551854.35,27408597.92,27600691.43,27157830.87

In [276]:
# Rename columns, "COD_USUARIO":"user_code" and "COD_SEGLOBAL":"global_seg_code"

#>
df.rename(columns = {"COD_USUARIO":"user_code","COD_SEGLOBAL":"global_seg_code"}).tail()

,user_code,global_seg_code,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512
39720,UZ44403,51.0,45291.79,42150.19,40250.91,43582.43,44290.30,42851.89
39721,UZ44403,52.0,9724.66,8899.26,8446.44,9407.03,9664.82,9243.44
39722,UZ44403,55.0,83105.26,79572.65,77208.25,119590.83,120249.18,149363.74
39723,UZ44403,56.0,64385.96,61047.44,58773.43,61692.29,61958.25,60707.55
39724,UZ44403,61.0,6733.52,6749.17,6749.56,6748.73,6747.17,6738.10

In [277]:
# Add column 'new_column' with string 'Constant'

#>
df['new_column'] = 'Constant'
df

,COD_USUARIO,COD_SEGLOBAL,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512,new_column
0,E000170,NaN,0.00,0.00,0.00,0.00,0.00,0.00,Constant
1,E000170,34.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant
2,E000170,35.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant
3,E000170,36.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant
4,E000170,37.0,11684.42,11673.35,11675.79,11687.85,11696.99,11687.41,Constant
5,E000170,42.0,67014.43,65051.89,63686.01,65917.87,43472.36,23488.17,Constant
6,E000170,43.0,160260.96,154240.41,151735.51,157772.90,159883.25,155395.69,Constant
7,E000170,51.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant
8,E000170,52.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant
9,E000170,53.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant
10,E000170,54.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant
11,E000170,55.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant
12,E000170,56.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant
13,E000170,61.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant
14,E000501,NaN,158772.14,154831.31,151801.95,154821.40,154964.26,153389.92,Constant
15,E000501,42.0,1143726.44,1152113.04,1134674.76,1200680.02,1205097.50,1190889.62,Constant
16,E000501,43.0,5903439.20,5859182.06,5619079.85,5728629.77,5747048.30,5674373.83,Constant
17,E000501,51.0,49750.59,46070.23,43520.47,47119.29,47466.83,45981.72,Constant
18,E000501,52.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant
19,E000501,55.0,3180.03,4480.64,4373.56,36093.07,36502.79,36075.67,Constant
20,E000501,56.0,45203.51,43990.00,43203.73,100018.89,101300.60,99788.03,Constant
21,E000501,61.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant
22,E000531,NaN,60958.04,58109.30,55963.78,58196.52,58049.08,81840.54,Constant
23,E000531,42.0,2327130.74,2429578.67,2394626.68,2495563.76,2562909.47,2437240.14,Constant
24,E000531,43.0,6401503.37,6246756.81,6194036.22,6394802.59,6414458.12,6421029.54,Constant
25,E000531,51.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant
26,E000531,53.0,0.00,0.00,0.00,0.00,0.00,25523.54,Constant
27,E000531,55.0,106028.29,103552.50,102453.96,105456.27,28459.63,33538.69,Constant
28,E000531,56.0,26587.35,25193.19,9231.63,9698.31,9736.40,35065.99,Constant
29,E000531,61.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant
...,...,...,...,...,...,...,...,...,...
39695,UN20939,NaN,0.00,0.00,29351.83,31912.09,32921.98,31588.61,Constant
39696,UN20939,32.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant
39697,UN20939,33.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant
39698,UN20939,34.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant
39699,UN20939,35.0,508109.57,494952.03,489380.61,506028.14,511592.39,503126.80,Constant
39700,UN20939,36.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant
39701,UN20939,41.0,2221679.67,1866663.89,1598197.26,1665208.97,1880360.44,1933777.49,Constant
39702,UN20939,42.0,13210393.98,13136779.46,12160833.62,12731967.03,12576414.58,12872718.29,Constant
39703,UN20939,43.0,1953925.87,1916066.11,1837067.03,1915004.09,1828223.59,1797593.99,Constant
39704,UN20939,51.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant
39705,UN20939,55.0,14840.10,13605.51,12552.69,14135.59,14456.72,13625.66,Constant
39706,UN20939,56.0,129460.02,127825.76,126843.50,131807.26,133252.77,132170.99,Constant
39707,UN20939,61.0,31451.05,31233.79,31070.99,31280.26,31902.58,33374.68,Constant
39708,UN30630,35.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant
39709,UN30630,36.0,25887.66,25871.12,25854.40,25863.79,25868.35,25841.92,Constant
39710,UN30630,41.0,5779519.18,5746349.61,5688564.48,5755571.78,5716715.45,5711361.19,Constant
39711,UN30630,42.0,23325331.62,22619439.45,22158029.16,22928461.62,22848696.00,22449628.07,Constant
39712,UN30630,43.0,2896554.74,2835333.27,2774716.13,2845697.02,2862000.64,2880338.58,Constant
39713,UN30630,51.0,0.00,0.00,0.00,0.00,0.00,0.00,Constant
39714,UN30630,55.0,38538.53,38250.82,38481.57,38942.34,39354.14,38900.83,Constant
39715,UN30630,56.0,25393.17,24794.20,24321.34,24771.15,30120.85,29834.95,Constant
39716,UN30630,61.0,13677.78,13336.68,13065.83,13321.08,13326.78,13192.80,Constant
39717,UZ44403,NaN,89477.81,86449.35,138533.24,213178.74,212651.64,210164.89,Constant
39718,UZ44403,42.0,3172490.53,3072344.65,3008000.72,3125223.13,3152193.42,3303371.24,Constant
39719,UZ44403,43.0,2538994.41,2678786.57,2611285.11,2627792.53,2749906.80,2749296.57,Constant
39720,UZ44403,51.0,45291.79,42150.19,40250.91,43582.43,44290.30,42851.89,Constant
39721,UZ44403,52.0,9724.66,8899.26,8446.44,9407.03,9664.82,9243.44,Constant
39722,UZ44403,55.0,83105.26,79572.65,77208.25,119590.83,120249.18,149363.74,Constant
39723,UZ44403,56.0,64385.96,61047.44,58773.43,61692.29,61958.25,60707.55,Constant
39724,UZ44403,61.0,6733.52,6749.17,6749.56,6748.73,6747.17,6738.10,Constant

In [157]:
# Add a column 'COD_SEG_34', with boolean values depending on COD_SEGLOBA==34.0

#>
df['COD_SEG_34'] = df.COD_SEGLOBAL == 34.0
df[['COD_SEG_34','COD_SEGLOBAL']]

      COD_SEG_34  COD_SEGLOBAL
0          False           NaN
1           True          34.0
2          False          35.0
3          False          36.0
4          False          37.0
5          False          42.0
6          False          43.0
7          False          51.0
8          False          52.0
9          False          53.0
10         False          54.0
11         False          55.0
12         False          56.0
13         False          61.0
14         False           NaN
15         False          42.0
16         False          43.0
17         False          51.0
18         False          52.0
19         False          55.0
20         False          56.0
21         False          61.0
22         False           NaN
23         False          42.0
24         False          43.0
25         False          51.0
26         False          53.0
27         False          55.0
28         False          56.0
29         False          61.0
...          ...           ...
39695      False           NaN
39696      False          32.0
39697      False          33.0
39698       True          34.0
39699      False          35.0
39700      False          36.0
39701      False          41.0
39702      False          42.0
39703      False          43.0
39704      False          51.0
39705      False          55.0
39706      False          56.0
39707      False          61.0
39708      False          35.0
39709      False          36.0
39710      False          41.0
39711      False          42.0
39712      False          43.0
39713      False          51.0
39714      False          55.0
39715      False          56.0
39716      False          61.0
39717      False           NaN
39718      False          42.0
39719      False          43.0
39720      False          51.0
39721      False          52.0
39722      False          55.0
39723      False          56.0
39724      False          61.0

[39725 rows x 2 columns]

In [279]:
# Transposing data

#>
df.T

,0,1,2,3,4,5,6,7,8,9,...,39715,39716,39717,39718,39719,39720,39721,39722,39723,39724
COD_USUARIO,E000170,E000170,E000170,E000170,E000170,E000170,E000170,E000170,E000170,E000170,...,UN30630,UN30630,UZ44403,UZ44403,UZ44403,UZ44403,UZ44403,UZ44403,UZ44403,UZ44403
COD_SEGLOBAL,NaN,34,35,36,37,42,43,51,52,53,...,56,61,NaN,42,43,51,52,55,56,61
fondos_201507,0,0,0,0,11684.4,67014.4,160261,0,0,0,...,25393.2,13677.8,89477.8,3.17249e+06,2.53899e+06,45291.8,9724.66,83105.3,64386,6733.52
fondos_201508,0,0,0,0,11673.4,65051.9,154240,0,0,0,...,24794.2,13336.7,86449.4,3.07234e+06,2.67879e+06,42150.2,8899.26,79572.6,61047.4,6749.17
fondos_201509,0,0,0,0,11675.8,63686,151736,0,0,0,...,24321.3,13065.8,138533,3.008e+06,2.61129e+06,40250.9,8446.44,77208.2,58773.4,6749.56
fondos_201510,0,0,0,0,11687.9,65917.9,157773,0,0,0,...,24771.2,13321.1,213179,3.12522e+06,2.62779e+06,43582.4,9407.03,119591,61692.3,6748.73
fondos_201511,0,0,0,0,11697,43472.4,159883,0,0,0,...,30120.8,13326.8,212652,3.15219e+06,2.74991e+06,44290.3,9664.82,120249,61958.2,6747.17
fondos_201512,0,0,0,0,11687.4,23488.2,155396,0,0,0,...,29835,13192.8,210165,3.30337e+06,2.7493e+06,42851.9,9243.44,149364,60707.6,6738.1
new_column,Constant,Constant,Constant,Constant,Constant,Constant,Constant,Constant,Constant,Constant,...,Constant,Constant,Constant,Constant,Constant,Constant,Constant,Constant,Constant,Constant
COD_SEG_34,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [158]:
# Create new column Q3_2015 where fondos_201507 +  fondos_201508

#>
df.assign(Q3_2015 = df.fondos_201507 + df.fondos_201508).head()

,COD_USUARIO,COD_SEGLOBAL,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512,COD_SEG_34,Q3_2015
0,E000170,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,0.00
1,E000170,34.0,0.00,0.00,0.00,0.00,0.00,0.00,True,0.00
2,E000170,35.0,0.00,0.00,0.00,0.00,0.00,0.00,False,0.00
3,E000170,36.0,0.00,0.00,0.00,0.00,0.00,0.00,False,0.00
4,E000170,37.0,11684.42,11673.35,11675.79,11687.85,11696.99,11687.41,False,23357.77

In [163]:
# Concatenate two DataFrame columns into a new, single column. Concatenate COD_USUARIO and COD_SEGLOBAL in column 'concatenated'

#>
df['concatenated'] = df['COD_USUARIO'].map(str) + ":" + df['COD_SEGLOBAL'].map(str)
df.head()

,COD_USUARIO,COD_SEGLOBAL,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512,COD_SEG_34,concatenated
0,E000170,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,E000170:nan
1,E000170,34.0,0.00,0.00,0.00,0.00,0.00,0.00,True,E000170:34.0
2,E000170,35.0,0.00,0.00,0.00,0.00,0.00,0.00,False,E000170:35.0
3,E000170,36.0,0.00,0.00,0.00,0.00,0.00,0.00,False,E000170:36.0
4,E000170,37.0,11684.42,11673.35,11675.79,11687.85,11696.99,11687.41,False,E000170:37.0

### Apply

dataframe.apply(function) or dataframe.apply(lambda function)

In [175]:
# Split delimited values in a DataFrame column into two new columns. Split column concatenated with delimeted : and get first item.

#>
df['a'] = df['concatenated'].apply(lambda x: x.split(':', 1)[0])
df.head()

,COD_USUARIO,COD_SEGLOBAL,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512,COD_SEG_34,concatenated,a,b
0,E000170,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,E000170:nan,E000170,nan
1,E000170,34.0,0.00,0.00,0.00,0.00,0.00,0.00,True,E000170:34.0,E000170,34.0
2,E000170,35.0,0.00,0.00,0.00,0.00,0.00,0.00,False,E000170:35.0,E000170,35.0
3,E000170,36.0,0.00,0.00,0.00,0.00,0.00,0.00,False,E000170:36.0,E000170,36.0
4,E000170,37.0,11684.42,11673.35,11675.79,11687.85,11696.99,11687.41,False,E000170:37.0,E000170,37.0

In [176]:
# Unique rows on "COD_USUARIO","COD_SEGLOBAL"
# By default: Drop duplicates except for the first occurrence.

#>
df.drop_duplicates('COD_USUARIO', inplace=True)
df

,COD_USUARIO,COD_SEGLOBAL,fondos_201507,fondos_201508,fondos_201509,fondos_201510,fondos_201511,fondos_201512,COD_SEG_34,concatenated,a,b
0,E000170,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,E000170:nan,E000170,nan
14,E000501,NaN,158772.14,154831.31,151801.95,154821.40,154964.26,153389.92,False,E000501:nan,E000501,nan
22,E000531,NaN,60958.04,58109.30,55963.78,58196.52,58049.08,81840.54,False,E000531:nan,E000531,nan
30,E000545,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,E000545:nan,E000545,nan
41,E000558,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,E000558:nan,E000558,nan
49,E000575,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,E000575:nan,E000575,nan
59,E000766,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,E000766:nan,E000766,nan
65,E000839,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,E000839:nan,E000839,nan
79,E001223,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,E001223:nan,E001223,nan
88,E017652,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,E017652:nan,E017652,nan
96,E017834,NaN,0.00,4758.00,4752.93,4747.10,4706.55,4698.01,False,E017834:nan,E017834,nan
106,E017873,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,E017873:nan,E017873,nan
115,E017941,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,E017941:nan,E017941,nan
124,E018089,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,E018089:nan,E018089,nan
137,E018296,NaN,0.00,0.00,0.00,23999.48,24112.28,23865.02,False,E018296:nan,E018296,nan
148,E018300,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,E018300:nan,E018300,nan
161,E018439,NaN,0.00,0.00,0.00,0.00,0.00,20217.34,False,E018439:nan,E018439,nan
170,E018543,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,E018543:nan,E018543,nan
183,E018550,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,E018550:nan,E018550,nan
190,E018722,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,E018722:nan,E018722,nan
199,E018723,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,E018723:nan,E018723,nan
207,E018732,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,E018732:nan,E018732,nan
221,E018734,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,E018734:nan,E018734,nan
233,E018745,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,E018745:nan,E018745,nan
239,E018755,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,E018755:nan,E018755,nan
249,E018759,NaN,64555.39,62953.09,61721.37,62949.05,126960.79,184025.89,False,E018759:nan,E018759,nan
261,E018784,NaN,9720.39,8792.77,8224.63,9053.79,9129.02,8851.31,False,E018784:nan,E018784,nan
272,E018790,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,E018790:nan,E018790,nan
283,E018795,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,E018795:nan,E018795,nan
292,E018800,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,E018800:nan,E018800,nan
...,...,...,...,...,...,...,...,...,...,...,...,...
39438,UH40047,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,UH40047:nan,UH40047,nan
39446,UH40316,34.0,0.00,0.00,0.00,0.00,0.00,0.00,True,UH40316:34.0,UH40316,34.0
39456,UH40883,NaN,39130.65,37105.82,35734.92,37503.85,37668.14,36905.96,False,UH40883:nan,UH40883,nan
39468,UH43321,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,UH43321:nan,UH43321,nan
39479,UH43528,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,UH43528:nan,UH43528,nan
39490,UH43680,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,UH43680:nan,UH43680,nan
39498,UH43792,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,UH43792:nan,UH43792,nan
39507,UH43873,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,UH43873:nan,UH43873,nan
39518,UH44085,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,UH44085:nan,UH44085,nan
39531,UH44160,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,UH44160:nan,UH44160,nan
39542,UH44430,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,UH44430:nan,UH44430,nan
39553,UH44502,34.0,0.00,0.00,0.00,0.00,0.00,0.00,True,UH44502:34.0,UH44502,34.0
39559,UH44759,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,UH44759:nan,UH44759,nan
39564,UH44770,NaN,0.00,0.00,0.00,0.00,10429.89,21925.74,False,UH44770:nan,UH44770,nan
39576,UH44831,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,UH44831:nan,UH44831,nan
39590,UH44832,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,UH44832:nan,UH44832,nan
39594,UH44869,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,UH44869:nan,UH44869,nan
39601,UH44891,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,UH44891:nan,UH44891,nan
39609,UH44909,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,UH44909:nan,UH44909,nan
39616,UH44912,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,UH44912:nan,UH44912,nan
39626,UH44915,NaN,0.00,9664.86,9456.85,9680.09,9721.38,9609.21,False,UH44915:nan,UH44915,nan
39636,UH44919,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,UH44919:nan,UH44919,nan
39647,UH45303,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,UH45303:nan,UH45303,nan
39653,UH50061,NaN,0.00,0.00,0.00,0.00,25655.15,25144.10,False,UH50061:nan,UH50061,nan
39665,UH50141,NaN,0.00,0.00,0.00,42975.34,43140.20,42473.07,False,UH50141:nan,UH50141,nan
39677,UH50179,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,UH50179:nan,UH50179,nan
39687,UH74179,NaN,0.00,0.00,0.00,0.00,0.00,0.00,False,UH74179:nan,UH74179,nan
39695,UN20939,NaN,0.00,0.00,29351.83,31912.09,32921.98,31588.61,False,UN20939:nan,UN20939,nan
39708,UN30630,35.0,0.00,0.00,0.00,0.00,0.00,0.00,False,UN30630:35.0,UN30630,35.0
39717,UZ44403,NaN,89477.81,86449.35,138533.24,213178.74,212651.64,210164.89,False,UZ44403:nan,UZ44403,nan

### Pivot

In [190]:
d = pd.DataFrame({'A':[1,1,3,1],'B':[3,4,5,4],'C':[6,7,8,8]})
d

   A  B  C
0  1  3  6
1  1  4  7
2  3  5  8
3  1  4  8

In [191]:
d.pivot_table(values = 'B', index = ['A'], columns = ['C'])

C    6    7    8
A
1  3.0  4.0  4.0
3  NaN  NaN  5.0

### Missing Data
Pandas primarily uses the value **np.nan** to represent missing data. See the Missing Data section : http://pandas.pydata.org/pandas-docs/stable/missing_data.html#missing-data

In [193]:
import numpy as np

In [194]:
dic = {"A": [1,2,np.nan],"B": [3, np.nan, np.nan],"C": [1,2,3]}
d = pd.DataFrame(dic)
d

     A    B  C
0  1.0  3.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [195]:
# Get the boolean mask where values an nan

#>
pd.isnull(d).head()

       A      B      C
0  False  False  False
1  False   True  False
2   True   True  False

In [196]:
# Count number on missing values

#>
d.isnull().sum().sum()

3

In [197]:
# Check if there is any null

#>
d.isnull().values.any()

True

In [198]:
# Drop any rows that have missing data

#>
d.dropna()

     A    B  C
0  1.0  3.0  1

In [199]:
# Filling missing data

#>
d.fillna(value = "missing")

         A        B  C
0        1        3  1
1        2  missing  2
2  missing  missing  3

In [200]:
# Filling missing data with the mean of each column

#>
d.fillna(value = d.mean())

     A    B  C
0  1.0  3.0  1
1  2.0  3.0  2
2  1.5  3.0  3